// default config
exec default.cfg

r_nolerp_list "progs/flame.mdl,progs/flame2.mdl,progs/flame3.mdl,progs/s_light.mdl"

// engine saved config
exec config.cfg

// user config
exec autoexec.cfg

// stuff command line arguments
stuffcmds

// start demos if not connected
startdemos demo1 demo2 demo3
