// default config
exec default.cfg

cl_bob "0.012"
cl_bobcycle "0.55"
cl_bobup "0.7"

// engine saved config
exec config.cfg

// user config
exec autoexec.cfg

// stuff command line arguments
stuffcmds

// start demos if not connected
startdemos demo1 demo2 demo3
