// default config
exec default.cfg

// engine saved config
exec config.cfg

// user config
exec autoexec.cfg

// stuff command line arguments
stuffcmds

// start demos if not connected
startdemos demo1 demo2 demo3
